<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnfnash.learn.redis.counter.mapper.UserFollowMapper">
    <sql id="Base_Column_List">
        id,
        user_id,
        followed_user_id,
        create_time
    </sql>

    <select id="selectBatch" resultType="com.johnfnash.learn.redis.counter.entity.UserFollow">
        select <include refid="Base_Column_List" />
        from user_follow
        where (user_id, followed_user_id) in
            <foreach item="item" collection="list" separator="," open="(" close=")">
                (#{item.userId}, #{item.followedUserId})
            </foreach>
    </select>

</mapper>
